trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  keyvaultname: 'mynewvault97070'
  secretname: 'ghtoken
  stagename: 'Build'
  newstage: 'Release'

Connection name: keyvaultname: $(keyvaultname)
                secrets: $(secretname)'
stagename: $(stagename)
      - script: echo $(keyvaultname)
        displayName: 'Display Github Token'

   