trigger:
- main

stages:
- stage: FetchToken
  jobs:
  - job: UseGitHubToken
    pool:
      vmImage: ubuntu-latest

    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'azure-kv-connection'
        KeyVaultName: 'kv-github-demo'
        SecretsFilter: 'github-token'
        SecretsFilter: 'db-password
        RunAsPreJob: true

    - script: |
        echo "Token fetched successfully"
        echo "GitHub Token Length: ${#GITHUB_TOKEN}"
        echo "DB Password Length: ${#DB-PASSWORD}"
        echo "Pipeline completed."
      env:
        GITHUB_TOKEN: $(github-token)
        DB-PASSWORD: $(db-password)
